/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/*Confortaa*/
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');

img {
    width: 50px;
    margin: 1%;
}

.links span{
    font-size: 30px;
}
.icons img {
    margin-left: auto; margin-right: auto; margin-top: 10%;
    display: inline-flex;
    gap: 40px;
}

.button-56, #btn1{
    background-color: rgb(96, 232, 96);
}
.button-56, #btn2{
    background-color: rgb(250, 159, 23);
}
.button-56, #btn3{
    background-color: rgb(232, 96, 105);
}
.button-56, #btn4{
    background-color: #5b377c;
}
.button-56, #btn5{
    background-color: #9e67bd;
}

.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: 'Jost';
    font-size: 22px;
    height: 80px;
    justify-content: space-between;
    line-height: 24px;
    width: 70%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .button-56:active {
    
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-56 {
      padding: 0 40px;
    }
  }





